gradio
transformers
torch
Pillow
accelerate
langchain
langchain-community
langchain-core
langchain-huggingface
pypdf
sentence-transformers
InstructorEmbedding
huggingface-hub
faiss-cpu
docx2txt
markdown
